<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
 
<h1>Welcome! Please sign the guest book</h1>

<%= form_for @message do |form| %>

	<div>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label :message %><br>
		<%= form.text_area :body %><br>
	</div>

	<div>
		<%= form.submit %>
	</div>

<% end %>